/*Global Edits*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 100%;
}

.container{
    display: flex;
    width: 90%;
}

.item{
    padding: 1em;
    background-color: peachpuff;
    border: .5rem solid salmon;
    /*margin: 0 auto;*/
    flex: .5;
}

/*Specific edits*/
#item2{
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    gap: 10px;
    div{
        display: flex;
        flex: 1;
        border: .25rem solid salmon;
    }
}

#header{
    display: flex;
    background-color: cornflowerblue;
    border: 10px solid dodgerblue;
    width: 100%;
    padding: 0 5% 0 10%; /*this lets you move elements inside a navbar/header for ex. */
    align-items: center;
    gap: 1em;
}

#main{
    gap: 1em;
    margin: 0 auto;
}

